* {
  margin: 0;
  padding: 0;
}
.logoIcon {
  position: absolute;
  height: calc(100% - 20px);
  top: 10px;
  bottom: 10px;
  left: 0;
  max-height: 100%;
  width: 161.7px;
  object-fit: cover;
}
.bnCnGip {
  display: inline-block;
  min-width: 114px;
}
.common-content {
  width: 1200px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 65px;
  overflow: hidden;
}
.header .common-content {
  display: flex;
  justify-content: space-between;
}
.header .left {
  width: 60%;
  display: flex;
  position: relative;
  height: 65px;
  flex-shrink: 0;
  max-width: 100%;
}
.left h4{
  margin-top: 20px;
  width: 180px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 23px;
  color: #000000;
}
.header .left img {
  width: 110px;
  margin-top: calc((65px - 64px) / 2);
}
.header .logo {
  width: 20%;
}
.logo p{
 margin-top: 25px;
 margin-left: 90px;
 width: 155px;
 height: 17px;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 17px;
 color: #000000;
}
.logo h3{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 9px;
  margin-left: 20px;
  width: 45px;
  height: 45px;
  text-align: center;
  outline: 1px solid;
  border-radius: 50%;
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 58px;
  color: #FFFFFF;
  background-color: #007006;
}
.bell{
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.bell img{
  margin-top: 20px;
  margin-left: 35px;
  width: 30px;
  height: 30px
}
.bell p{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-top: 15px;
 width: 125px;
 height: 36px;
 font-style: normal;
 font-weight: 400;
 font-size: 16px;
 line-height: 19px;
 color: #000000;
 border: 1px solid;
 border-radius: 20px;
}
footer p {
  text-align: center;
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 34px 0 0;
}
.header {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  max-width: 100%;
  gap: 20px;
  text-align: left;
  font-size: 14px;
  color: #000;
} 
main{
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: rgb(0,0,0, .05);
  display: flex;
}
nav {
  position: relative;
  width: 320px;
}
nav img{
  width: 24px;
  height: 24px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*nav ul li {
   Sub Menu 
}*/
nav ul li a {
  display: block;
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
nav ul li a:hover {
  background: #007006;
  color: #fff;
}
nav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
  float:right;
}
nav ul ul {
  background: white;
}
nav ul li ul li a {

  border-left: 30px solid transparent;
  padding: 10px 20px;
}
nav ul li ul li a:hover {

  border-left: 4px solid #3498db;
}
.container .content{
  width: 90%;
  margin: 0 auto;
  height: 750px;
  display: flex;
}
.content1 {
  width: 70%;
  margin-top: 20px;
}
.content .box1{
  height: 250px;
  background-color: white;
}
.box1-content{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.box1-content h4{
  margin-bottom: 0px;
  width: 184px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.box1 p{
  width: 183px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.box1 p#zero{
  width: 180px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #007006;
}
.content .box2{
  margin-top: 20px;
  height: 364px;
  background-color: white;
}
.box2-content{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.box2-content h4{
  margin-bottom: 0px;
  width: 210px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
} 
.box2-header{
  display: flex;
  margin-bottom: 0px;
}
.box2 p{
  width: 360px;
  height: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.box2 p#header-text{
  margin-top: 5px;
}
.box2-main{
  display: flex;
}
.box2-main-content{
  width: 50%;
}
.box2-main-content1{
  display: flex;
  width: 50%;
}
.box2-left{
  width: 50%;
}
.box2-right{
  width: 50%;
}
.box2-main p{
  width: 120px;
  height: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.7);
}
.box2-main p#zero1{
  width: 12px;
  height: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.box2-main p#vs{
  width: 123px;
  height: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
}
canvas{
  height:180px !important;
}
.box3-content{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.content .box3{
  margin-top: 20px;
  width: 30%;
  height: 730px;
  margin-left: 20px;
  background-color: white;
}
.box3-header a{
  width: 77px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #007006;
}
.box3 h4{
  width: 110px;
  height: 24px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.box3 h5{
  width: 185px;
  height: 34px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.box3-main-content p{
  width: 175px;
  height: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.6);
}
.box3 .box3-header{
  display: flex;
  justify-content: space-between;
}
.box3 .new{
  display: flex;
  width: 140px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 0px;
}
.box3 .new p#new{
  width: 21px;
  height: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #007006;
}
.box3 .new p#time{
  width: 110px;
  height: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.4);
}